.body{
    background-image: url(../images/gentle-snowfall-at-night.jpeg) ; 
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    margin: auto;
}
.header{
    padding: 30px;
}
.header__marquee{
    font-size: 30px;
}
.header__title{
    text-align: center;
    font-size: 120px;
    color: yellow;
    text-shadow: 5px 1px 2px darkgoldenrod; 
    padding: 40px;    
}
.header__title:hover{
    animation-duration: .6s;
    animation-name: clignoter;
    transition: none;
}
@keyframes clignoter {
    0%   { opacity:1; }
    50%   { opacity:0; }
    60%   { opacity:1; }
    70%   { opacity:0; }
    90%   { opacity:1; }
    95%   { opacity:0; }
    100% { opacity:1; }
}
.header__nav{
    padding: 40px;
    display: flex;
    font-size: 80px;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
}
.list__jedi:hover {
    transition-delay: 10ms;
    color: rgb(42, 165, 52);
    transform: scale(1.2);
    font-weight: bold;
}
.list__sith:hover {
    transition-delay: 10ms;
    color: rgb(184, 25, 25);
    transform: scale(1.2);
    font-weight: bold;
}
.list__republique:hover {
    transition-delay: 10ms;
    color: rgb(36, 141, 211);
    transform: scale(1.2);
    font-weight: bold;

}
.list__empire:hover {
    transition-delay: 10ms;
    color: rgb(163, 73, 0);
    transform: scale(1.2);
    font-weight: bold;
}
.main{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    padding: 80px 20px;
    margin: 80px;
    border-top: 2px solid yellow;
    line-height: 50px;
}
.main section{
    width: 50%;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.main h2{
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
}
.main p{
    padding: 40px;
    text-align: justify;
}
.main p strong{
    font-weight: bold;
    color: yellow;
}
.right-side__title strong{
    text-decoration: line-through;
    text-decoration-color: brown;
}
.footer__list{
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 20px;
}
.footer__list a:hover{
    animation-duration: .6s;
    animation-name: clignoter;
    transition: none;
}