.body{
    background-image: url(../images/gentle-snowfall-at-night.jpeg) ; 
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    margin: auto;
}
.header{
    padding: 30px;
}
.header__title{
    text-align: center;
    font-size: 120px;
    color: yellow;
    text-shadow: 5px 1px 2px darkgoldenrod; 
    padding: 40px;    
}
.header__title:hover{
    animation-duration: .6s;
    animation-name: clignoter;
    transition: none;
}
@keyframes clignoter {
    0%   { opacity:1; }
    50%   { opacity:0; }
    60%   { opacity:1; }
    70%   { opacity:0; }
    90%   { opacity:1; }
    95%   { opacity:0; }
    100% { opacity:1; }
  }
.header__nav--list{
    display: flex;
    font-size: 80px;
    justify-content: space-evenly;
}
.list__jedi:hover {
    transition-delay: 10ms;
    color: rgb(42, 165, 52);
    transform: scale(1.2);
}
.list__sith:hover {
    transition-delay: 10ms;
    color: rgb(184, 25, 25);
    transform: scale(1.2);
}
.list__republique:hover {
    transition-delay: 10ms;
    color: rgb(36, 141, 211);
    transform: scale(1.2);

}
.list__empire:hover {
    transition-delay: 10ms;
    color: rgb(163, 73, 0);
    transform: scale(1.2);
}
/* test */

